<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/{{ site.avatar }}" /></a>
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          {% assign current = page.url | downcase | split: '/' %}
          <nav>
            <a href="{{ site.baseurl }}/" {% if current.size == 0 %}class='active'{% endif %}>Home</a>
            <a href="{{ site.baseurl }}/projects" {% if current[1] == 'projects' %}class='active'{% endif %}>Projects</a>
            <a href="{{ site.baseurl }}/members" {% if current[1] == 'members' %}class='active'{% endif %}>Members</a>
            <a href="{{ site.baseurl }}/upcoming" {% if current[1] == 'upcoming' %}class='active'{% endif %}>Upcoming events</a>
            <a href="{{ site.baseurl }}/recent" {% if current[1] == 'recent' %} class='active'{% endif %}>Recent events</a>
            <a href="{{ site.baseurl }}/about" {% if current[1] == 'about' %} class='active'{% endif %}>About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %} <a href="{{ site.baseurl }}/datenschutz">Datenschutzerklärung</a> | <a href="{{ site.baseurl }}/impressum">Impressum</a>
        </footer>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
